/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    height: 100%;
}

.carousel-track img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    flex-shrink: 0;
    object-fit: contain; /* Préserve le format des images */
    background-color: #fff; /* Couleur de fond autour des images */
    width: 100vw; /* Chaque image occupe l’écran en largeur */
    height: 100vh; /* Chaque image occupe l’écran en hauteur */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
